billiard==4.2.1
boto3==1.37.37
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clip==1.0
cron-descriptor==1.4.5
deepface==0.0.93
django-cors-headers==4.7.0
django-environ==0.12.0
django-storages==1.14.6
django-timezone-field==7.1
djangorestframework_simplejwt==5.5.0
dlib==19.24.6
dotenv==0.9.9
drf-yasg==1.21.10
git-filter-repo==2.47.0
Keras-Applications==1.0.8
keras-vggface==0.6
kombu==5.5.3
open_clip_torch==2.32.0
opencv-contrib-python==4.11.0.86
pip==24.0
psycopg2==2.9.10
PySocks==1.7.1
python-crontab==3.2.0
tf_keras==2.19.0
ultralytics==8.3.111
